@charset "UTF-8";

/*@import url("https://fonts.googleapis.com/icon?family=Material+Icons");*/

body {
	font: 100% "Roboto", Arial, sans-serif;
	/*height: 100vh;*/
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	/*background: #00b4ff;*/
}

.my-cyan {
	background-color: #00C8DF;
}

.my-green {
	background-color: #448528;
}

.my-teal {
	background-color: #0fa6a0;
}



#sky-container {
	color: #333;
    /*bottom: 0;
	left: 0;*/
	/*padding-top: 50px;*/
	/*position: relative;*/
	/*right: 0;
	top: 0;
	z-index: 1;*/
	/*padding-bottom: 5em;*/
	/*margin-bottom: 5em;
	margin-top: 3em;*/

	/*height: 100vh;*/
}

.sky-bg {
	background: #00b4ff;
}


/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
       /*margin-left: -1000px;*/
       /*margin-left: -300px;*/
       transform: translateX(-20vw);
    }
    100% {
        /*margin-left: 100%;*/
        transform: translateX(100vw);
    }
}

@-moz-keyframes animateCloud {
    0% {
        /*margin-left: -1000px;*/
       /*margin-left: -300px;*/
       transform: translateX(-20vw);
    }
    100% {
        /*margin-left: 100%;*/
        transform: translateX(100vw);
    }
}

@keyframes animateCloud {
    0% {
        /*margin-left: -1000px;*/
       /*margin-left: -300px;*/
       transform: translateX(-20vw);
    }
    100% {
        /*margin-left: 100%;*/
        transform: translateX(100vw);
    }
}

/* ANIMATIONS */

.x1, .x2, .x3, .x4, .x5 {
	position: absolute;
}

.x1 {
	-webkit-animation: animateCloud linear infinite;
	-moz-animation: animateCloud linear infinite;
	animation: animateCloud linear infinite;

	animation-duration: 35s;
}
.x1 .cloud {
	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	transform: scale(0.65);
}

.x2 {
	-webkit-animation: animateCloud linear infinite;
	-moz-animation: animateCloud linear infinite;
	animation: animateCloud linear infinite;

	animation-duration: 30s;
}
.x2 .cloud {
	-webkit-transform: scale(0.55);
	-moz-transform: scale(0.55);
	transform: scale(0.55);	
}

.x3 {
	-webkit-animation: animateCloud linear infinite;
	-moz-animation: animateCloud linear infinite;
	animation: animateCloud linear infinite;

	animation-duration: 25s;	
}
.x3 .cloud {
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);	
}

.x4 {
	-webkit-animation: animateCloud linear infinite;
	-moz-animation: animateCloud linear infinite;
	animation: animateCloud linear infinite;

	animation-duration: 20s;
}
.x4 .cloud {
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x5 {
	-webkit-animation: animateCloud linear infinite;
	-moz-animation: animateCloud linear infinite;
	animation: animateCloud linear infinite;

	animation-duration: 18s;	
}
.x5 .cloud {
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

/* OBJECTS */

.cloud {
	background: #fff;
	background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
	background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );
	
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	
	-webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

	height: 120px;
	position: relative;
	width: 350px;
}

.cloud:after, .cloud:before {
    background: #fff;
	content: '';
	position: absolute;
	z-indeX: -1;
}

.cloud:after {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;

	height: 100px;
	left: 50px;
	top: -50px;
	width: 100px;
}

.cloud:before {
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;

	width: 180px;
	height: 180px;
	right: 50px;
	top: -90px;
}

.cloud h3 {
	text-align: center;
	padding-top: 6%;
	font-weight: bold;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	height: 100%;

	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	
  	background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
	background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );
}

.cloud h3:hover {
	cursor: default;
}



/* Tree styles */

.sapUiBody {
	background-color: transparent !important;

	padding-top: 5em;
}

.dennisseah-orgchart .node {
  cursor: pointer;
}
.dennisseah-orgchart .node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.dennisseah-orgchart .node text {
  font: 16px "Roboto", Arial, sans-serif;
  color: #333;
  font-weight: bold;
}

.dennisseah-orgchart .link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.dennisseah-orgchart {
  overflow: hidden;
}

rect {
	stroke: transparent;
}


g.tree-container g.node[transform="translate(0,0)"] {

	display: none;
}


.node-flash {
	-webkit-animation-duration: 3.5s;
	animation-duration: 3.5s;
}




.row {
	margin-bottom: 0;
}


/*.section-title {
	background-color: white;
    color: #00B4FF;
    padding: 0.25em;
    border-radius: 5em;
    font-weight: bold;
    
    -webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
}*/

.section {
	z-index: -2;

	padding: 0;
}

.section-title {
    text-align: center;
    font-size: 10em;
    color: white;
    opacity: 0.2;
    text-shadow: -2px -3px 2px rgba(0, 0, 0, 0.25);

    margin-top: 0;
    z-index: -1;

    font-family: "Roboto", Arial, sans-serif;
}

.section-title-center {
	position: absolute;
    height: 160px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.section-title-top {
	position: absolute;
    height: 160px;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}



.sub-intro {
	opacity: 0;
}




path {
  cursor: pointer;
  stroke: #212121;
  stroke-width: 5px;
}

#pieChart {
  /* border: red 1px dotted; */

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  padding-left: 2em;

}

#pieChart svg {
	opacity: 0.8;
}

#pieText {
	padding-right: 2em;
}

.text-container {
   /*border: 1px dotted; */
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
}

#segmentText {
  width: 100%;
  padding: 20px;
  text-align: center;

  font-family: "Roboto Light", Arial, sans-serif;
}

#segmentText {
	-webkit-animation-delay: 3s;
    animation-delay: 3s;
}

#segmentText .collection {
	width: 80%;
	margin: 0 auto;
}

#segmentTitle h4, #segmentTitle h5 {
	font-family: "Roboto Light", Arial, sans-serif;
}



@media(max-width:767px) {

	#pieChart {
		transform: rotate(90deg);
		transform-origin: 50% 50%;
		transition: 1s;
		max-width: 50%;
	} 

	.text-container { 
		width: 100%; 
		min-height: 0; 
	}

} 

@media(min-width:768px) {

	#pieChart {
		transition: 1s;
	}

}


.collection .collection-item {
	background-color: transparent;
}




.scroll-down {
	position: absolute;
	bottom: 10%;
	left: 0;
	right: 0;
	margin: auto;
	width: 24px;
	height: 24px;
	border-left: 1px solid #333;
	border-bottom: 1px solid #333;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: scroll-down 2s infinite;
	animation: scroll-down 2s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes scroll-down {
	0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}
@keyframes scroll-down {
	0% {
		transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}



.fp-controlArrow.fp-prev {
	width: 35px;
    height: 35px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(45deg);
    border-right: 0;
    border-top: 0;
    border-width: 5px;
    left: 20%;
}

.fp-controlArrow.fp-next {
	width: 35px;
    height: 35px;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    transform: rotate(45deg);
    border-left: 0;
    border-bottom: 0;
    border-width: 5px !important;
    right: 20%;
}



.carousel {
	height: 600px;
}

.carousel .carousel-item {
	width: 400px;
	height: 300px;
}

.carousel .indicators .indicator-item {
	width: 15px;
	height: 15px;
	/*background-color: rgba(51, 51, 51, 0.5);*/
	/*border-radius: 1px;*/
}

.carousel .indicators .indicator-item.active {
	/*background-color: #333;*/
}


.portfolio-btn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: transparent;
    border: 2px solid black;   
}



.modal {
	width: 80%;
	top: 0 !important;
	bottom: 0;
	max-height: 90%;
}


.modal-header {
    /*padding: 1em;
    background-color: #00c8df;
    color: white;*/
    text-align: center;
}

.modal-header .modal-title {
    margin-bottom: 0;
    padding: 0.5em;
    color: white;
}


.modal .modal-content {
	padding-top: 15px;
}


.modal.modal-fixed-footer {
	height: inherit;
}




.quote-right {
	padding-right: 1.5rem;
	padding-left: 0;

    border-right: 5px solid #ee6e73;
    border-left: 0;

    text-align: right;
}


#modal-oconee blockquote {
	border-color: #89725b;
}

#modal-coa blockquote {
	border-color: #0fa6a0;
}



.switch-sides:nth-of-type(even) .col:first-of-type {

	float: right;
}

.switch-sides:nth-of-type(even) .col:last-of-type {

	float: left;
}

.switch-sides:nth-of-type(even) blockquote {

	padding-right: 1.5rem;
	padding-left: 0;

    border-right: 5px solid #ee6e73;
    border-left: 0;

    text-align: right;
}


.image-arrow {
	font-size: 1.5em;
    margin: 0.25em;
}



/* label color */
/*.input-field label {
	color: #000;
}*/

/* label focus color */
.input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, textarea.materialize-textarea:focus:not([readonly]) + label {
	color: #333;
}

/* label underline focus color */
.input-field input[type=text]:focus, .input-field input[type=email]:focus,  textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #333;
	box-shadow: 0 1px 0 0 #333;
}

/* valid color */
/*.input-field input[type=text].valid {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000;
}*/

/* invalid color */
/*.input-field input[type=text].invalid {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000;
}*/

/* icon prefix focus color */
/*.input-field .prefix.active {
	color: #000;
}*/


#toast-container {
	width: 100%;
	max-width: 100%;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    bottom: 0;

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.dialog-center {
	/*position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;*/

	margin: 0 auto;
}



/* Side Nav */

#fp-nav ul li, .fp-slidesNav ul li {
    margin-bottom: 3em;
}


#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span {
    border-radius: 0;
    height: 50px;
    width: 10px;
    margin: -2px 0 0 -8px;
}


#fp-nav ul li a span, .fp-slidesNav ul li a span {
    border-radius: 0;
    height: 50px;
    width: 8px;
    background: rgba(0, 0, 0, 0.8);
}

#fp-nav ul li a span:after {
    content: '';
    display: block;
    width: inherit;
    height: 50px;
    /*background: rgba(255, 255, 255, 0.8);*/
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    right: -100%;
}


#fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span {
    height: 50px;
    width: 10px;
    margin: -2px 0 0 -8px;
}



#fp-nav ul li .fp-tooltip.right {
    right: -1px;
    /*background: rgba(33, 33, 33, 0.9);*/
    background: rgba(0, 0, 0, 0.8);
    top: 4px;
    line-height: 50px;
    padding: 0 1em;

    font-family: "Roboto", Arial, sans-serif;
}


#fp-nav ul li a, .fp-slidesNav ul li a {
	padding: 0 1.5em;
}


#fp-nav ul li:hover .fp-tooltip.right {
    width: 150px;
}




/*fullpage.js styling*/
#fullpage {
	position: fixed; overflow: automatic;
}

/*makes sure sidebar is clickable*/
#sidenav-overlay {
	z-index: 90
}

/*keeps navbar with page*/
#nav { 
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	z-index: 99;

	display: none;

	background-color: transparent;
	box-shadow: none;
}

/*stylesheets for sections*/
#sa, #sc, #se {
	background: #ffebee;
}
#sb, #sd {
	background: #ffcdd2;
}

.side-nav {
	background-color: rgba(255, 255, 255, 0.95); 
}

.side-nav a {
	font-size: 1.75em;
	height: auto;
    line-height: 3em;
}


@media screen and (max-width: 760px) {

	#nav {
		display: block;
	}

	nav .button-collapse {
		/*background: rgba(0, 0, 0, 0.8);*/
	    background: rgba(255, 255, 255, 0.8);
	    color: rgba(0, 0, 0, 0.8);

		margin: 0;
	    padding: 0 18px;
	    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
	                0 1px 5px 0 rgba(0, 0, 0, 0.12), 
	                0 3px 1px -2px rgba(0, 0, 0, 0.2);

        border: 2px solid rgba(0, 0, 0, 0.8);
	    border-top: 0;
	    border-left: 0;
	    border-bottom-right-radius: 20%;
	}

	
	#fp-nav {
		display: none;
	}

	.section-title {
	    font-size: 3.5em;
	}


	h3.sub-intro {
		font-size: 2.25rem;
	}
	h4.sub-intro {
		font-size: 1.1rem;
	}


	#pieChart {
		max-width: 100%;
	}

	#pieText {
		padding-right: 0;
	}

	#segmentText {
		margin: 0;
		padding: 10px;
	}

	#segmentText .collection {
		width: 100%;
	}

	#segmentText .arrow {
		display: none;
	}

	#segmentTitle h3 {
		font-size: 1.75em;
		margin: 0;
	}
	#segmentTitle h4 {
		font-size: 1.5em;
	}
	#segmentTitle h5 {
		font-size: 1.4em;
	}

	#segmentTitle #school {
		line-height: 1.5;
	}

	.section-title-top {
		top: 10%;
	}

	.sm-section-title-top {
		position: absolute;
	    height: 160px;
	    top: 10%;
	    left: 0;
	    right: 0;
	    margin: auto;
	}

	#education .sm-section-title-top {
		top: 0%;
		margin-left: 1em;

	}




	@-webkit-keyframes animateCloud {
	    0% {
	       /*margin-left: -1000px;*/
	       /*margin-left: -300px;*/
	       transform: translateX(-100vw);
	    }
	    100% {
	        /*margin-left: 100%;*/
	        transform: translateX(75vw);
	    }
	}

	@-moz-keyframes animateCloud {
	    0% {
	        /*margin-left: -1000px;*/
	       /*margin-left: -300px;*/
	       transform: translateX(-100vw);
	    }
	    100% {
	        /*margin-left: 100%;*/
	        transform: translateX(75vw);
	    }
	}

	@keyframes animateCloud {
	    0% {
	        /*margin-left: -1000px;*/
	       /*margin-left: -300px;*/
	       transform: translateX(-100vw);
	    }
	    100% {
	        /*margin-left: 100%;*/
	        transform: translateX(75vw);
	    }
	}



	.x1 .cloud {
		-webkit-transform: scale(0.5);
		-moz-transform: scale(0.55);
		transform: scale(0.55);
	}

	.x2 .cloud {
		-webkit-transform: scale(0.45);
		-moz-transform: scale(0.45);
		transform: scale(0.45);	
	}

	.x3 .cloud {
		-webkit-transform: scale(0.4);
		-moz-transform: scale(0.4);
		transform: scale(0.4);	
	}

	.x4 .cloud {
		-webkit-transform: scale(0.375);
		-moz-transform: scale(0.3);
		transform: scale(0.3);
	}

	.x5 .cloud {
		-webkit-transform: scale(0.35);
		-moz-transform: scale(0.3);
		transform: scale(0.3);
	}

	.cloud:after {
	    height: 120px;
	    left: 50px;
	    top: -30px;
	    width: 120px;
	}

	.cloud:before {
	    width: 180px;
	    height: 170px;
	    right: 50px;
	    top: -50px;
	}


	.fp-controlArrow {
		top: 47%;
	}
	.fp-controlArrow.fp-prev {
		left: 5%;
	}
	.fp-controlArrow.fp-next {
		right: 5%;
	}


	.modal {
		width: 95%;
		max-height: 95%; 
	}

	.modal .modal-content {
		padding: 15px;
	}

	.carousel {
	    height: 500px;
	}

	.carousel .carousel-item {
		overflow: hidden;
	}

	/*.carousel .indicators .indicator-item {
		margin-top: 0;
		margin-bottom: 0;
	}*/


	button[type="submit"] {
		width: 100%;
	}

}





@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Medium';
	src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Light';
	src: url('../fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Thin';
	src: url('../fonts/Roboto-Thin.ttf') format('truetype');
}




@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/material-icons.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}