@charset "UTF-8";

/*@import url("https://fonts.googleapis.com/icon?family=Material+Icons");*/

body {
	font: 100% Arial, Sans Serif;
	/*height: 100vh;*/
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	/*background: #00b4ff;*/
}

#sky-container {
	color: #333;
    /*bottom: 0;
	left: 0;*/
	/*padding-top: 50px;*/
	/*position: relative;*/
	/*right: 0;
	top: 0;
	z-index: 1;*/
	/*padding-bottom: 5em;*/
	/*margin-bottom: 5em;
	margin-top: 3em;*/

	/*height: 100vh;*/
}

.sky-bg {
	background: #00b4ff;
}


/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
       /*margin-left: -1000px;*/
       /*margin-left: -300px;*/
       transform: translateX(-20vw);
    }
    100% {
        /*margin-left: 100%;*/
        transform: translateX(100vw);
    }
}

@-moz-keyframes animateCloud {
    0% {
        /*margin-left: -1000px;*/
       /*margin-left: -300px;*/
       transform: translateX(-20vw);
    }
    100% {
        /*margin-left: 100%;*/
        transform: translateX(100vw);
    }
}

@keyframes animateCloud {
    0% {
        /*margin-left: -1000px;*/
       /*margin-left: -300px;*/
       transform: translateX(-20vw);
    }
    100% {
        /*margin-left: 100%;*/
        transform: translateX(100vw);
    }
}

/* ANIMATIONS */

.x1, .x2, .x3, .x4, .x5 {
	position: absolute;
}

.x1 {
	-webkit-animation: animateCloud linear infinite;
	-moz-animation: animateCloud linear infinite;
	animation: animateCloud linear infinite;

	animation-duration: 35s;
}
.x1 .cloud {
	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	transform: scale(0.65);
}

.x2 {
	-webkit-animation: animateCloud linear infinite;
	-moz-animation: animateCloud linear infinite;
	animation: animateCloud linear infinite;

	animation-duration: 30s;
}
.x2 .cloud {
	-webkit-transform: scale(0.55);
	-moz-transform: scale(0.55);
	transform: scale(0.55);	
}

.x3 {
	-webkit-animation: animateCloud linear infinite;
	-moz-animation: animateCloud linear infinite;
	animation: animateCloud linear infinite;

	animation-duration: 25s;	
}
.x3 .cloud {
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);	
}

.x4 {
	-webkit-animation: animateCloud linear infinite;
	-moz-animation: animateCloud linear infinite;
	animation: animateCloud linear infinite;

	animation-duration: 20s;
}
.x4 .cloud {
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x5 {
	-webkit-animation: animateCloud linear infinite;
	-moz-animation: animateCloud linear infinite;
	animation: animateCloud linear infinite;

	animation-duration: 18s;	
}
.x5 .cloud {
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

/* OBJECTS */

.cloud {
	background: #fff;
	background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
	background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );
	
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	
	-webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

	height: 120px;
	position: relative;
	width: 350px;
}

.cloud:after, .cloud:before {
    background: #fff;
	content: '';
	position: absolute;
	z-indeX: -1;
}

.cloud:after {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;

	height: 100px;
	left: 50px;
	top: -50px;
	width: 100px;
}

.cloud:before {
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;

	width: 180px;
	height: 180px;
	right: 50px;
	top: -90px;
}

.cloud h3 {
	text-align: center;
	padding-top: 6%;
	font-weight: bold;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	height: 100%;

	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	
  	background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
	background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );
}

.cloud h3:hover {
	cursor: default;
}



/* Tree styles */

.sapUiBody {
	background-color: transparent !important;
}

.dennisseah-orgchart .node {
  cursor: pointer;
}
.dennisseah-orgchart .node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.dennisseah-orgchart .node text {
  font: 16px Arial;
  color: #333;
  font-weight: bold;
}

.dennisseah-orgchart .link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.dennisseah-orgchart {
  overflow: hidden;
}

rect {
	stroke: transparent;
}





.row {
	margin-bottom: 0;
}


/*.section-title {
	background-color: white;
    color: #00B4FF;
    padding: 0.25em;
    border-radius: 5em;
    font-weight: bold;
    
    -webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
}*/

.section {
	z-index: -2;

	padding: 0;
}

.section-title {
    text-align: center;
    font-size: 10em;
    color: white;
    opacity: 0.2;
    text-shadow: -2px -3px 2px rgba(0, 0, 0, 0.25);

    margin-top: 0;
    z-index: -1;
}

.section-title-center {
	position: absolute;
    height: 160px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}





path {
  cursor: pointer;
  stroke: #263238;
  stroke-width: 5px;
}

#pieChart {
  /* border: red 1px dotted; */

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  padding-left: 2em;

}

#pieChart svg {
	opacity: 0.8;
}

#pieText {
	padding-right: 2em;
}

.text-container {
   /*border: 1px dotted; */
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
}

#segmentText {
  width: 100%;
  padding: 20px;
  text-align: center;
}

#segmentText {
	-webkit-animation-delay: 5s;
    animation-delay: 5s;
}


@media(max-width:767px) {

	#pieChart {
		transform: rotate(90deg);
		transform-origin: 50% 50%;
		transition: 1s;
		max-width: 50%;
	} 

	.text-container { 
		width: 100%; 
		min-height: 0; 
	}

} 

@media(min-width:768px) {

	#pieChart {
		transition: 1s;
	}

}


.collection .collection-item {
	background-color: transparent;
}






@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/material-icons.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}